:root {
            --background: #1a1a2e;
            --color: #ffffff;
            --primary-color: #0f3460;
        }

body {
            background-color: var(--background);
            color: var(--color);
            font-family: "Poppins", sans-serif;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        a {
            color: var(--color);
        }

        h2 {
            color: var(--primary-color);
            margin-bottom: 3rem;
        }

        .btn-primary {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
        }

        .btn-primary:hover {
            background-color: darken(var(--primary-color), 10%);
            border-color: darken(var(--primary-color), 10%);
        }

        .table {
            margin-top: 5rem;
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .theme-btn-container {
            position: absolute;
            left: 0;
            bottom: 5rem !important;
           
        }

        .theme-btn {
            cursor: pointer;
            transition: all 0.3s ease-in;
        }

        .theme-btn:hover {
            width: 40px !important;
        }
        spacer {
margin-top: 40px
}
.red{
color :red;
}
spacer {
margin-top: 40px
}
 .alert-info {
            margin-top: 1rem;
            background-color: #FFFFFF;
}
.alert-info.error {
       color: red;
       background-color: #FFFFFF;
       
}
.alert-info.success {
            color: green;
            background-color: #FFFFFF;
            
}
.sollicite {
    background-color: #e0f7fa;
    color: #00796b;
}

.valide {
    background-color: #d4edda;
    color: #155724;
    
}

.refuse {
    background-color: #f8d7da;
    color: #721c24;
}

.annule {
    background-color: #e0e0e0;
    /* color: #616161; */
    color :red;
}

.en_cours {
    background-color: #fff3cd;
    color: #856404;
}

.arrete {
    background-color: #ffebee;
    color: #b71c1c;
}

.fini {
    background-color: #e8eaf6;
    color: #283593;
}
        